.OtherProducts {
  background-color: whitesmoke;
  &-data {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    overflow: auto;
    &-info {
      background-color: snow;
      width: 300px;
      border-radius: 30px;
      padding: 20px;
      margin: 20px;
      height: auto;
      .read-more-link {
        color: rgb(43, 116, 226);
        text-decoration: none;
        letter-spacing: 1px;
        cursor: pointer;
      }
    }
  }
}
